<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">

<head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
    <div class="container" ng-controller="NarrowItDownController as foundList">
        <h1>Narrow Down Your Chinese Menu Choice</h1>

        <div class="form-group">
            <input ng-model="foundList.searchTerm" type="text" placeholder="search term" class="form-control">
        </div>
        <div class="form-group narrow-button">
            <button ng-click="foundList.narrowItDownForMe()" class="btn btn-primary">Narrow It Down For Me!</button>
        </div>

        <section>
            <found-items items="foundList.found" on-remove="foundList.removeItem(index)"></found-items>
            <span ng-if="foundList.nothingFound">Nothing found</span>
        </section>

        <!-- <section>
            <ol>
                <li ng-repeat="item in list.found">
                    {{item.name}}, {{item.short_name}}, {{item.description}}
                    <button ng-click="list.removeItem($index)" class="btn btn-primary">Don't want this one!</button>
                </li>

            </ol>
            <span ng-if="list.nothingFound">Nothing found</span>
        </section> -->
        <!-- Bonus loader (see Bonus section of the assignment) -->
        <!-- <items-loader-indicator></items-loader-indicator> -->

        <!-- found-items should be implemented as a component -->
        <!-- <found-items found-items="...." on-remove="...."></found-items> -->
    </div>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
</body>

</html>
